@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
}
body{
    height: 100vh;
    background: linear-gradient(to right, #73c8a9, #10724e); 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #56ad8d;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
span{
    padding-bottom: 10px;
    margin-inline: 10px;
    font-size: 50px;
}
