*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    background-image: linear-gradient(to right, #4ECDC4,#556270);
}
.container{
    background-color: rgb(212, 212, 212);
    position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
    padding: 10px;
    width: 50%;
    display: flex; align-items: center; justify-content: center; flex-direction: column;
    border-radius: 5px;
}
.result{
    width: 90%; margin: 20px;
    display: flex; align-items: center; justify-content: center;
}
.input{ width: 100%; border: none; height: 50px; 
    font-size: large; font-weight: 500;
    display: flex; align-items: end; text-align: end;
    padding: 10px; border-radius: 5px;
}
.input:focus{ outline: none;}
.butonlar{ 
    width: 90%; margin: 20px; 
    display: flex; align-items: center; justify-content: space-between;
}
button{ 
    width: 20%; height: 40px;
    background-color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600; font-size: medium;
}
button:hover{background-color: rgb(243, 241, 241);}
.renk{ color: 	#FFC107;}

@media screen and (max-width: 600px){
    .container{ width: 90%;}
    button{ font-size: small;}
}